common --enable_bzlmod=true
common --experimental_google_legacy_api

common:rbe --java_runtime_version=11
common:rbe --tool_java_runtime_version=11

build --strategy=KotlinCompile=worker
build --test_output=all
build --verbose_failures

# Required for windows ci
startup --windows_enable_symlinks
common --enable_runfiles

try-import %workspace%/bit-ignore.bazelrc

# User-specific .bazelrc
try-import %workspace%/user.bazelrc
