# Enable d8 merger
build --define=android_dexmerger_tool=d8_dexmerger

# Flags for the D8 dexer
build --define=android_incremental_dexing_tool=d8_dexbuilder
build --define=android_standalone_dexing_tool=d8_compat_dx

common --enable_workspace=true --enable_bzlmod=false
common --noincompatible_enable_android_toolchain_resolution
build --platform_mappings=platform_mappings
build --fat_apk_cpu arm64-v8a
# Uncomment the below lines to build for x86
# build --fat_apk_cpu x86_64
build --android_crosstool_top=@androidndk//:toolchain
build --@rules_kotlin//kotlin/settings:jvm_emit_jdeps=False