# Cut a release whenever a new tag is pushed to the repo.
# You should use an annotated tag, like `git tag -a v1.2.3`
# and put the release notes into the commit message for the tag.
name: Release Binary Package
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Mount bazel caches
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/bazel-disk-cache
          key: bazel-cache-${{ hashFiles('**/BUILD.bazel', '**/*.bzl', 'WORKSPACE', 'WORKSPACE.bzlmod') }}
          restore-keys: bazel-cache-
      - name: Install JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "11"
      - name: Prepare release notes and artifacts
        run: .github/workflows/release_prep.sh ${{ github.ref_name }}
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          prerelease: true
          # Use GH feature to populate the changelog automatically
          generate_release_notes: true
          body_path: release_notes.txt
          fail_on_unmatched_files: true
          files: rules_kotlin-*.tar.gz
